/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
}

body{
  background-color: black;
}

h1,h4,p,a{
  color: #fff;
  text-decoration: none;
}

.btn{
  
 padding: 12px 32px;
 font-size: 1rem;
 text-transform: uppercase;
 background-color: rgb(248, 217, 15);
 color:#222;
 border: 1px solid #fff;
 font-weight: 600;
 cursor: pointer;
}

.btn-light{
 padding: 12px 32px;
 font-size: 1rem;
 text-transform: uppercase;
 background-color: transparent;
 color: #fff;
 border: 1px solid #fff;
 font-weight: 600;
 cursor: pointer;
}

.btn-light:hover, .btn:hover{
  background-color: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3;
}

